* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 760.5px;
  background-image: url(city-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

li {
  color: silver;
}

.menu-bar {
  background: rgba(100, 31, 0, 0.8);
  text-align: center;
}

.menu-bar ul {
  display: inline-flex;
  list-style: none;
}

.menu-bar ul li {
  width: 120px;
  margin: 15px;
  padding: 15px;
}
